.carrousel{
	display: block;
	position: relative;
	height: 450px;
	width: 95%;
	overflow: hidden;
	margin: 10px auto;
}

.slides{
	width: calc(1350px * 3);
	animation: glisse 20s infinite;
}

.slide{
	float: left;
}

.slides img{
	width: 1350px;
}

@keyframes glisse {
	0% {
		transform: translateX(0);
	}

	10% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(-1350px);
	}

	30% {
		transform: translateX(-1350px);
	}

	40% {
		transform: translateX(-1350px);
	}

	50% {
		transform: translateX(-2700px);
	}

	60% {
		transform: translateX(-2700px);
	}

	70% {
		transform: translateX(-2700px);
	}

	80% {
		transform: translateX(-1350px);
	}

	90% {
		transform: translateX(-1350px);
	}


	100% {
		transform: translateX(0);
	}

}
